<!-- /**
 * Filename: about.ejs
 * Student Name: Kirstin Megga Ramos
 * Student Number: 301363582
 * Date: 2023-09-30
 */ -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Kirstin - Web Developer Based on Los Angeles</title>
  <meta name="title" content="Kirstin | About">
  <meta name="description" content="This is a personal portfolio html template made by 1010">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap" rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./css/require.css">
  <link rel="stylesheet" href="./css/main.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" href="./img/hero-banner.png">

</head>

<body>

  <!-- 
    - #PRELOADER
  -->

  <div class="preloader" data-preloader>
    <div class="preloader-circle"></div>
  </div>

  <!-- 
    - #HEADER
  -->
  <!-- Include the navigation section -->
  <%- include('header.ejs') %>

  <main>
    <article>
      <!-- 
        - #ABOUT
      -->

      <section class="section about" aria-label="about me">
        <div class="container">

          <figure class="about-banner">
            <img src="./img/about-bannertest.png" width="580" height="554" loading="lazy"
              alt="Kirstin, the small but incredible woman (big pic placeholder)" class="w-100">
          </figure>

          <div class="about-content">

            <h2 class="title-lg">I'm a Software Developer with over 6+ years of experience.</h2>

            <p class="body-md section-text">
              My name is Kirstin Megga Ramos. I'm from Philippines and now residing in Canada. I develop .NET Core
              applications and web applications for various clients. I'm excited to work with new people. And I'm
              always ready to learn new things!
            </p>

            <p class="body-md section-text">

              Currently, I'm studying at Centennial College with the advance diploma, Artificial Intelligence 
              Software Engineer Program. So you will see me creating my own AI application soon enough!
            </p>

            </li>

            <ul class="about-list">

              <li>
                <p class="list-text">
                  <strong class="strong title-md">50+</strong> Projet Completed
                </p>
              </li>

              <li>
                <p class="list-text">
                  <strong class="strong title-md">50+</strong> Happy Clients
                </p>
              </li>

            </ul>

            <div class="wrapper">
              <a href="./contact" class="btn btn-primary">Contact Me</a>

              <a href="./resume" class="btn btn-secondary">Resume</a>
            </div>

          </div>

        </div>
      </section>


    </article>
  </main>





  <!-- 
    - #FOOTER
  -->
  <!-- Include the footer section -->
  <%- include('footer.ejs') %>




  <!-- 
    - custom js link
  -->
  <script src="./js/script.js"></script>

  <!-- 
    - ionicon
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>