<!-- /**
 * Filename: footer.ejs
 * Student Name: Kirstin Megga Ramos
 * Student Number: 301363582
 * Date: 2023-09-30
 */ -->

  <footer class="footer">
    <div class="container">

      <ul class="social-list">
        <li>
          <a href="https://www.linkedin.com/in/kmmramos/" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

      </ul>

      <p class="text-center">&copy; 2022 copyright all right reserved</p>

    </div>
  </footer>