<!-- /**
 * Filename: index.ejs
 * Student Name: Kirstin Megga Ramos
 * Student Number: 301363582
 * Date: 2023-09-30
 */ -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Kirstin - Web Developer Based on Toronto</title>
  <meta name="title" content="Kirstin | Home">
  <meta name="description" content="This is a personal portfolio html template made by 1010">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap" rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./css/require.css">
  <link rel="stylesheet" href="./css/main.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" href="./img/hero-banner.png">

  <!-- 
    - twitter bootstrap css
  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>

</head>

<body>

  <!-- 
    - #PRELOADER
  -->

  <div class="preloader" data-preloader>
    <div class="preloader-circle"></div>
  </div>

  <!-- 
    - #HEADER
  -->
  <!-- Include the navigation section -->
  <%- include('header.ejs') %>


  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Hi! I'm Kirstin but people call me 10-10. 🌞</p>

            <h1 class="headline-lg">A Full Stack Dev</h1>

            <p class="hero-text body-md">
              Energetic detail-oriented software developer with 6+ years of experience in web design and development 
              across different industries from high-volume remittance system to large multilingual learning management system. 
              Reduced 95% of manual timekeeping by designing and developing an attendance tool for an outsourcing company. 
            </p>

            <p class="hero-text body-md">
              Based in Toronto, Canada.
            </p>

            <a href="./contact" class="btn btn-primary">Let's Talk</a>

          </div>

          <figure class="hero-banner">
            <img src="./img/hero-bannertest.png" width="680" height="645"
              alt="Kirstin, the small but incredible woman (big pic placeholder)" class="w-100">
          </figure>

        </div>
      </section>

      <!-- 
        - #DIVIDER
      -->

      <section class="client">
        <div class="container">

          <ul class="slider">

          </ul>

        </div>
      </section>

      <!-- 
        - #SKILL
      -->

      <section class="section skill" aria-labelledby="skill-label">
        <div class="container">

          <div class="skill-content">

            <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

            <ul class="skill-list">

              <li>
                <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name="logo-html5"></ion-icon>
                  </div>

                  <h2 class="card-title">HTML</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                  <div class="card-media">
                    <ion-icon name="logo-css3"></ion-icon>
                  </div>

                  <h2 class="card-title">CSS</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">

                  <div class="card-media">
                    <ion-icon name="logo-microsoft"></ion-icon>
                  </div>

                  <h2 class="card-title">.NET Core</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                  <div class="card-media">
                    <ion-icon name="logo-angular"></ion-icon>
                  </div>

                  <h2 class="card-title">Angular</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name="logo-javascript"></ion-icon>
                  </div>

                  <h2 class="card-title">Javascript</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                  <div class="card-media">
                    <ion-icon name="logo-android"></ion-icon>
                  </div>

                  <h2 class="card-title">App Dev</h2>

                </div>
              </li>

            </ul>

          </div>

          <figure class="skill-banner">
            <img src="./img/skill-bannertest.png" width="581" height="657" loading="lazy"
              alt="Kirstin, the small but incredible woman (big pic placeholder)" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

      <section class="cta">
        <div class="container">
          <h2 class="title-lg">Intrested working with me?</h2>

          <a href="./contact" class="btn btn-tertiary">Contact Now</a>
        </div>
      </section>

    </article>
  </main>


  <!-- 
    - #FOOTER
  -->
  <!-- Include the footer section -->
  <%- include('footer.ejs') %>








  <!-- 
    - custom js link
  -->
  <script src="./js/script.js"></script>

  <!-- 
    - ionicon
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
