<header class="header" data-header>
  <div class="container">

    <a href="#" class="logo">
      <img src="./img/logo.svg" width="151" height="28" alt="Kirstin logo placeholder">
    </a>

  <!-- Include the navigation section -->
  <!-- <% include ('navigation') %> -->

    <nav class="navbar" data-navbar>
      <ul class="navbar-list">

        <li class="navbar-item">
          <a href="#" class="label-lg navbar-link has-after active">Home</a>
        </li>

        <li class="navbar-item">
          <a href="./services" class="label-lg navbar-link has-after">Services</a>
        </li>

        <li class="navbar-item">
          <a href="./projects" class="label-lg navbar-link has-after">Projects</a>
        </li>

        <li class="navbar-item">
          <a href="./contact" class="label-lg navbar-link has-after">Contact</a>
        </li>

      </ul>
    </nav>

    <a href="./contact" class="btn btn-primary">Contact Now</a>

    <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler>
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

  </div>
</header>